body{
    margin: 0;
    background: url("./pexels-yaroslava-borz-11513276.jpg");
    font-family: 'Montserrat', sans-serif;
}

.main-img{
    width: 400px;
    border-radius: 20px;
}

.container{
    background: rgba(0,0,0,0.5);
    padding: 50px;
    color:white;
    width: 100%;
}

.welcome{
    display: flex;
}

.welcome-text{
    margin: 20px;
}

.content{
    width: 800px;
    margin: auto;
}

.name{
    font-size: 52px;
    width: 100%;
    text-align: center;
}

.name-box{
    width: 100%;
}

.instagram{
    width: 60px;
}